<hr>
<h5>BLOG_LINK</h5>
<ul class="list-inline">

<details>
  <summary>🍜 맛집 후기</summary>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223844371928" target="_blank" rel="noopener noreferrer">신도림 가성비 야키토리 오뎅바 규토리 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223840811307" target="_blank" rel="noopener noreferrer">양천향교역 숨은 양꼬치 맛집, 백옥미시성 찐 리뷰</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223836303498" target="_blank" rel="noopener noreferrer">양천향교 맛집, 서울식물원 바로 바로 앞 공릉동 멸치국수</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223833041642" target="_blank" rel="noopener noreferrer">신도림 와인바 조용하고 보너지 좋은 엉베흐</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223831974723" target="_blank" rel="noopener noreferrer">발산 맛집, 줄서는 솥밥집 솥내음</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223827906401" target="_blank" rel="noopener noreferrer">영등포구청, 보너지 좋고 메뉴 좋고 사장님 좋고 더 사르다</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223824105550" target="_blank" rel="noopener noreferrer">양천향교 맛집, 한식이 또른다 순두부 맷돌로만</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223823186542" target="_blank" rel="noopener noreferrer">서울3대 베이글집, 마곡 베이글리스트 내돈내산 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223849237872" target="_blank" rel="noopener noreferrer">등촌 작업하기 좋은 까페 웰컴백 커피하우스</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223852688456" target="_blank" rel="noopener noreferrer">용산 CGV 영화 야당 무대인사 후기 (노스포)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856950536" target="_blank" rel="noopener noreferrer">김포공항 롯데몰 중국집 Chai797 Plus 탕수육 볶음밥 맛집 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856264751" target="_blank" rel="noopener noreferrer">광주 천변 베이커리까페 클레망 빵 종류 및 내돈내산 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856024027" target="_blank" rel="noopener noreferrer">담양 갈비 & 떡갈비 맛집, 단청 내돈내산 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223855450644" target="_blank" rel="noopener noreferrer">광주 지리산 흑돼지 맛집 지산목 송정점 내돈내산 리뷰</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223861617735" target="_blank" rel="noopener noreferrer">등촌동 맛집 하영족발과보쌈 등촌 본점 매장 식사 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223861639173" target="_blank" rel="noopener noreferrer">연희동 작업 / 공부하기 좋은 분위기 좋은 까페 프로토콜 연희점 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223867477248" target="_blank" rel="noopener noreferrer">화곡역 매운어묵김밥 맛집 끼니앤차 김밥을 요리하다 네이버 주문하기 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223869003354" target="_blank" rel="noopener noreferrer">합정 맛집 홍대솔내길 옥 오코노미야끼 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223869821761" target="_blank" rel="noopener noreferrer">합정 홍대 공부하기 좋은 카페 디벙크 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223871054255" target="_blank" rel="noopener noreferrer">화곡역 가성비 빵집 찰찰보리식빵 찹쌀쫄깃, 크림치즈, 알밤식빵 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223874690671" target="_blank" rel="noopener noreferrer">가양역 가양사거리 혼밥 맛집 묘돈부리 가츠동 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223876633844" target="_blank" rel="noopener noreferrer">합정/상수 핫한 돈카츠 맛집 이츠야 주말 웨이팅 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223877561234" target="_blank" rel="noopener noreferrer">합정 맛집 친절 20000% 쿠시카츠 오지상 주말 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223878816595" target="_blank" rel="noopener noreferrer">당산 맛집 호텔식 샤브샤브 무한리필 샤브올데이 당산점 주말 웨이팅 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223887609451" target="_blank" rel="noopener noreferrer">발산 묵은지 삼겹살 맛집 경아식당 본점 + 부대찌개, 부대볶음</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223891740650" target="_blank" rel="noopener noreferrer">마곡/마곡나루 질 좋은 한우 맛집 투뿔한우 No.9 마곡본점 내돈내산 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223892560489" target="_blank" rel="noopener noreferrer">안국역 낙지비빔칼국수(칼낙지) 맛집 신라제면소 안국점 주말 웨이팅 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223897339329" target="_blank" rel="noopener noreferrer">다낭 브라운페퍼 파인 다이닝, 당일 예약 방문! 1인 4만원 코스요리 대만족!</a></small></li>
  <!-- <li><small><a href="" target="_blank" rel="noopener noreferrer"></a></small></li> -->
</details>

<details>
  <summary>✈️ 라멘 투어</summary>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856080098" target="_blank" rel="noopener noreferrer">라멘투어#1, 압구정 맛집, 산처럼 나오는 지로계 라멘, 오레노이키루미치 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856156129" target="_blank" rel="noopener noreferrer">라멘투어#2, 부탄츄 선릉점 돈코츠라멘 맛집, 한정 메뉴 아부라소바 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856177187" target="_blank" rel="noopener noreferrer">라멘투어#3, 합정 오레노라멘 본점 토리빠이탄 먹어본 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223862196429" target="_blank" rel="noopener noreferrer">라멘투어#4, 홍대 이츠모라멘 돈코츠, 카라이토리라멘 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223867582392" target="_blank" rel="noopener noreferrer">라멘투어#5, 합정 이리에라멘 도미 시오 라멘 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223890925764" target="_blank" rel="noopener noreferrer">라멘투어#6, 망원/합정 신세카이 라멘 토리파이탄 풀토핑 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223895013436" target="_blank" rel="noopener noreferrer">라멘투어#7, 용산 1등 아니 서울 1등 라멘 모코시야 주말 방문 후기</a></small></li>
  <!-- <li><small><a href="" target="_blank" rel="noopener noreferrer"></a></small></li> -->
</details>

<details>
  <summary>✈️ 여행 후기</summary>
  <li><small><a href="https://m.blog.naver.com/econ_view/223901437582" target="_blank" rel="noopener noreferrer">[교토/료칸] 우메코지 카덴쇼, 트리플룸 + 가이세키 & 조식 완벽 후기 정리</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223903955495" target="_blank" rel="noopener noreferrer">8월 여름 일본 여행 끝판왕! 신이 내린 트레킹 코스, 가미코치 완벽 가이드 (필수 코스, 숙소, 교통편)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223905164498" target="_blank" rel="noopener noreferrer">[유후인/료칸] 메바에소 개인 프라이빗 료칸(바위), 가이세키 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223905212875" target="_blank" rel="noopener noreferrer">[후쿠오카/쇼핑] 후쿠오카 n회차가 추천하는 쇼핑 리스트 TOP5</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223906405542" target="_blank" rel="noopener noreferrer">유후인노모리 명당 예약 꿀팁: 2연속 성공! 좌석 공략부터 JR큐슈 예약 방법까지 완벽 정리</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223906895585" target="_blank" rel="noopener noreferrer">[유후인/료칸] 무소엔 료칸 재패니즈룸 야외온천 가이세키 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223906974213" target="_blank" rel="noopener noreferrer">[교토/여름] 이네마을 & 아마노하시다테 2박 3일 완전 정복: 찐 교토 바다 감성!</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223907189759" target="_blank" rel="noopener noreferrer">[삿포로/축제] 2025 삿포로 오도리 비어 가든 완벽 가이드, 맥주 기업 부스별 심층 분석!!</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223907900228" target="_blank" rel="noopener noreferrer">[도쿄/쇼핑] 오직 도쿄에서만! 도쿄한정! 후회 없는 쇼핑을 위한 나만의 위시리스트 대공개! (르라보, 스타벅스, 넘버슈가, 사케까지)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223908040116" target="_blank" rel="noopener noreferrer">[오사카/맛집] 줄 서는 이유가 있다 !! 오사카 우메다 냉우동 미슐랭 맛집 우동보우 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223908080975" target="_blank" rel="noopener noreferrer">[대만/맛집] 타이베이역 근처 현지인 미슐랭 맛집 유산동 우육면 웨이팅 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223909055070" target="_blank" rel="noopener noreferrer">[오사카/맛집] 300엔부터 즐기는 가성비 로바다야끼 이사리비 워크인 방문 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223909286020" target="_blank" rel="noopener noreferrer">[크로아티아/여름] 크로아티아 여름 여행, 브리비르스카 해변 / 두르보브니크</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223910290694" target="_blank" rel="noopener noreferrer">[오사카/맛집] 웨이팅 필수! 인생 타코야끼 하나다코 완벽 해부 가격, 꿀팁, 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223910497948" target="_blank" rel="noopener noreferrer">[대만/여행] 무계획 대만 여행 1일차 (유산동 우육면, 타이중, 타이베이 시티몰, 제4신용합작소, 펑지아 야시장)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223918464253" target="_blank" rel="noopener noreferrer">[대만/여행] 무계획 대만 여행 2일차 (우버이동, 스펀 천등, 스펀 폭포, 지우펀, 닝샤야시장)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223918520629" target="_blank" rel="noopener noreferrer">[푸꾸옥/맛집] 메오키친(MEO KITCHEN) 9명 방문 후기(쌀국수, 반쎄오, 반미, 짜조, 꼬치, 맥주 등) + 더라운지투어픽</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223919788127" target="_blank" rel="noopener noreferrer">[푸꾸옥/맛집] 소나시 야시장 해산물 맛집 39k Seafood & BBQ 새우, 가리비, 오징어튀김, 그루퍼 후기(+ 망고, 망고스틴)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223921052741" target="_blank" rel="noopener noreferrer">[대만/여행] 무계획 대만 여행 3일차 (베이터우, 지열곡, 예류지질공원, 스프링시티리조트)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223921101418" target="_blank" rel="noopener noreferrer">[푸꾸옥/맛집] 푸꾸옥 중부 맛집 99 BUN CHA (99분짜), 분짜, 껌땀, 오징어튀김 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223923020032" target="_blank" rel="noopener noreferrer">[푸꾸옥/숙소] 세일링클럽빌라 풀빌라 3베드룸 3박 후기, 가족여행 숙소로 추천</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223923289411" target="_blank" rel="noopener noreferrer">[푸꾸옥/여행] 푸꾸옥 여행 1일차 (비엣젯, 오메가스파, 메오키친, 세일링클럽풀빌라, 소나시야시장)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223924113267" target="_blank" rel="noopener noreferrer">[후쿠오카/맛집] 후쿠오카 저온돈까스 맛집 돈카츠 와카바</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223925328017" target="_blank" rel="noopener noreferrer">[푸꾸옥/여행] 푸꾸옥 여행 2일차 (혼똔섬 케이블카, 썬월드, 자나하우스, 소라스파 마사지)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/econ_view/223925393567" target="_blank" rel="noopener noreferrer">유니버셜 스튜디오 재팬, 같은 C시즌인데 왜 이렇게 다를까? 익스프레스 4, 익스프레스7 비교 후기</a></small></li>
  <li><small><a href="https://blog.naver.com/econ_view/223926618676" target="_blank" rel="noopener noreferrer">[후쿠오카/여행] 8월 여름 후쿠오카 유후인 여행 (유후인노모리, 메바에소, 긴린코호수)</a></small></li>
  <li><small><a href="https://blog.naver.com/econ_view/223926715297" target="_blank" rel="noopener noreferrer">[푸꾸옥/여행] 푸꾸옥 여행 3일차 (킹콩마트, 안바까페, 수라 한식당, 키스오브더씨 불꽃놀이, 부이페스트 야시장, 베트남셀렉트)</a></small></li>
  <li><small><a href="https://blog.naver.com/econ_view/223926784988" target="_blank" rel="noopener noreferrer">[다낭/숙소] 나만리트리트 원베드 풀빌라 2박 1편 예약, 체크인, 수영장, 배달, 기념품샵</a></small></li>
  <li><small><a href="https://blog.naver.com/econ_view/223927957112" target="_blank" rel="noopener noreferrer">[헝가리/부다페스트] 현지 친구가 추천한 여름 코스! 찐맛집부터 로컬 바까지 완벽 정리</a></small></li>
  <li><small><a href="https://blog.naver.com/econ_view/223929022861" target="_blank" rel="noopener noreferrer">다낭 공항 오키드 라운지 저녁시간 현장결제 방문 후기</a></small></li>
  <li><small><a href="https://blog.naver.com/econ_view/223929151950" target="_blank" rel="noopener noreferrer">[취미/사진] 후지필름 X-M5/XC15-45mm, X-M5 블랙 렌즈킷 구매 후기 / 언박싱</a></small></li>
  <li><small><a href="https://blog.naver.com/econ_view/223929246996" target="_blank" rel="noopener noreferrer">[다낭/맛집] 다낭 브라운페퍼 파인다이닝 코스요리 당일 예약 방문 후기</a></small></li>
  <li><small><a href="https://blog.naver.com/econ_view/223930490284" target="_blank" rel="noopener noreferrer">[다낭/기념품] 악마의잼 데비스잼 데비스베이커리 쿠키/잼 구매 후기</a></small></li>
  <li><small><a href="https://blog.naver.com/econ_view/223931320668" target="_blank" rel="noopener noreferrer">[대만/여행] 무계획 대만 여행 4일차 (오가우육면, 타이베이101, 그랜드하얏트타이베이, 시먼딩, 중정기념당 야경)</a></small></li>
<!--  <li><small><a href="" target="_blank" rel="noopener noreferrer"></a></small></li>-->
</details>

<details>
  <summary>💻 키보드 후기</summary>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223841893622" target="_blank" rel="noopener noreferrer">리니어 스위치 추천, MZ Y3 타건 비교</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223831877321" target="_blank" rel="noopener noreferrer">Siliworks X HMX Sonja HC 리니어 스위치 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223821397122" target="_blank" rel="noopener noreferrer">스웨그키 시작, Eave65 빌드 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223847358785" target="_blank" rel="noopener noreferrer">Epomaker Split65 내돈내산 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223849356241" target="_blank" rel="noopener noreferrer">GMK MTNU Modern Dolch Light macOS 키캡 리뷰 (eave65)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223859574189" target="_blank" rel="noopener noreferrer">타오바오 제품 구매하는 법 직구 주문 및 배송 기간 #1</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223858423429" target="_blank" rel="noopener noreferrer">세라키 Cerakey GreenCrazed + White Blank 그린크레이즈드와 흰색 무각 세라믹 키캡 내돈내산 후기 (공홈직구 / 배송)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223857077196" target="_blank" rel="noopener noreferrer">Keygeek 창해(Briny) 스위치 리뷰 (+타건 영상)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223855197940" target="_blank" rel="noopener noreferrer">시이닷 단청 키캡 내돈내산 리뷰 (+나무로 만든 키보드)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223859574189" target="_blank" rel="noopener noreferrer">타오바오 제품 구매하는 법 직구 주문 및 배송 기간 #1</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223861241129" target="_blank" rel="noopener noreferrer">타오바오 제품 구매하는 법 중한e젯 배대지 만들기 #2</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223864764042" target="_blank" rel="noopener noreferrer">타오바오 반품 후기, 중한e젯 배대지 수거 코드 환불까지의 전 과정 #3</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223864679904" target="_blank" rel="noopener noreferrer">Keygeek Ash (R1) 스위치 리뷰 (+타건 영상)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223875836406" target="_blank" rel="noopener noreferrer">AI 활용 / 요약이 필요할 때 T5(Text-to-Text Transfer Transformer) 기반 모델 탐구</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223880138391" target="_blank" rel="noopener noreferrer">키코보 피아노 블랙 키캡 (KEYKOBO Piano Black) 내돈내산 후기</a></small></li>
  <!-- <li><small><a href="" target="_blank" rel="noopener noreferrer"></a></small></li> -->
</details>

</ul>