<hr>
<h5>BLOG_LINK</h5>
<ul class="list-inline">

<details>
  <summary>🍜 맛집 후기</summary>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223844371928" target="_blank" rel="noopener noreferrer">신도림 가성비 야키토리 오뎅바 규토리 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223840811307" target="_blank" rel="noopener noreferrer">양천향교역 숨은 양꼬치 맛집, 백옥미시성 찐 리뷰</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856080098" target="_blank" rel="noopener noreferrer">라멘투어#1, 압구정 맛집, 산처럼 나오는 지로계 라멘, 오레노이키루미치 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223836303498" target="_blank" rel="noopener noreferrer">양천향교 맛집, 서울식물원 바로 바로 앞 공릉동 멸치국수</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223833041642" target="_blank" rel="noopener noreferrer">신도림 와인바 조용하고 보너지 좋은 엉베흐</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223831974723" target="_blank" rel="noopener noreferrer">발산 맛집, 줄서는 솥밥집 솥내음</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223827906401" target="_blank" rel="noopener noreferrer">영등포구청, 보너지 좋고 메뉴 좋고 사장님 좋고 더 사르다</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223824105550" target="_blank" rel="noopener noreferrer">양천향교 맛집, 한식이 또른다 순두부 맷돌로만</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223823186542" target="_blank" rel="noopener noreferrer">서울3대 베이글집, 마곡 베이글리스트 내돈내산 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856156129" target="_blank" rel="noopener noreferrer">라멘투어#2, 부탄츄 선릉점 돈코츠라멘 맛집, 한정 메뉴 아부라소바 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856177187" target="_blank" rel="noopener noreferrer">라멘투어#3, 합정 오레노라멘 본점 토리빠이탄 먹어본 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223849237872" target="_blank" rel="noopener noreferrer">등촌 작업하기 좋은 까페 웰컴백 커피하우스</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223852688456" target="_blank" rel="noopener noreferrer">용산 CGV 영화 야당 무대인사 후기 (노스포)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856950536" target="_blank" rel="noopener noreferrer">김포공항 롯데몰 중국집 Chai797 Plus 탕수육 볶음밥 맛집 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856264751" target="_blank" rel="noopener noreferrer">광주 천변 베이커리까페 클레망 빵 종류 및 내돈내산 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223856024027" target="_blank" rel="noopener noreferrer">담양 갈비 & 떡갈비 맛집, 단청 내돈내산 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223855450644" target="_blank" rel="noopener noreferrer">광주 지리산 흑돼지 맛집 지산목 송정점 내돈내산 리뷰</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223861617735" target="_blank" rel="noopener noreferrer">등촌동 맛집 하영족발과보쌈 등촌 본점 매장 식사 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223861639173" target="_blank" rel="noopener noreferrer">연희동 작업 / 공부하기 좋은 분위기 좋은 까페 프로토콜 연희점 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223862196429" target="_blank" rel="noopener noreferrer">라멘투어#4, 홍대 이츠모라멘 돈코츠, 카라이토리라멘 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223867477248" target="_blank" rel="noopener noreferrer">화곡역 매운어묵김밥 맛집 끼니앤차 김밥을 요리하다 네이버 주문하기 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223867582392" target="_blank" rel="noopener noreferrer">라멘투어#5, 합정 이리에라멘 도미 시오 라멘 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223869003354" target="_blank" rel="noopener noreferrer">합정 맛집 홍대솔내길 옥 오코노미야끼 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223869821761" target="_blank" rel="noopener noreferrer">합정 홍대 공부하기 좋은 카페 디벙크 솔직 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223871054255" target="_blank" rel="noopener noreferrer">화곡역 가성비 빵집 찰찰보리식빵 찹쌀쫄깃, 크림치즈, 알밤식빵 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223874690671" target="_blank" rel="noopener noreferrer">가양역 가양사거리 혼밥 맛집 묘돈부리 가츠동 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223876633844" target="_blank" rel="noopener noreferrer">합정/상수 핫한 돈카츠 맛집 이츠야 주말 웨이팅 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223877561234" target="_blank" rel="noopener noreferrer">합정 맛집 친절 20000% 쿠시카츠 오지상 주말 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223878816595" target="_blank" rel="noopener noreferrer">당산 맛집 호텔식 샤브샤브 무한리필 샤브올데이 당산점 주말 웨이팅 후기</a></small></li>
  <!-- <li><small><a href="" target="_blank" rel="noopener noreferrer"></a></small></li> -->
</details>

<details>
  <summary>✈️ 여행 후기</summary>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223843690917" target="_blank" rel="noopener noreferrer">교토 료칸 참고, 우메코지 카덴쇼 트리플룸 찐 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223843213619" target="_blank" rel="noopener noreferrer">유후인노모리 명당 예약 꿀팁, 2연속 성공한 좌석 공략 + JR 큐슈 예매 방법 정리</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223812194355" target="_blank" rel="noopener noreferrer">오사카 유니버셜스튜디오 재팬 3월 vs 12월 C시즌 익스프레스 4 / 7 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223799836574" target="_blank" rel="noopener noreferrer">유후인 프라이빗 료칸, '메바에소' 가이세키와 조식까지</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223847727840" target="_blank" rel="noopener noreferrer">우동보우, 우메다 미슐랭 냉우동 맛집</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223845461929" target="_blank" rel="noopener noreferrer">무소엔 료칸 가이세키부터 찐 후기까지</a></small></li>
</details>

<details>
  <summary>💻 키보드 후기</summary>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223841893622" target="_blank" rel="noopener noreferrer">리니어 스위치 추천, MZ Y3 타건 비교</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223831877321" target="_blank" rel="noopener noreferrer">Siliworks X HMX Sonja HC 리니어 스위치 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223821397122" target="_blank" rel="noopener noreferrer">스웨그키 시작, Eave65 빌드 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223847358785" target="_blank" rel="noopener noreferrer">Epomaker Split65 내돈내산 후기</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223849356241" target="_blank" rel="noopener noreferrer">GMK MTNU Modern Dolch Light macOS 키캡 리뷰 (eave65)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223859574189" target="_blank" rel="noopener noreferrer">타오바오 제품 구매하는 법 직구 주문 및 배송 기간 #1</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223858423429" target="_blank" rel="noopener noreferrer">세라키 Cerakey GreenCrazed + White Blank 그린크레이즈드와 흰색 무각 세라믹 키캡 내돈내산 후기 (공홈직구 / 배송)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223857077196" target="_blank" rel="noopener noreferrer">Keygeek 창해(Briny) 스위치 리뷰 (+타건 영상)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223855197940" target="_blank" rel="noopener noreferrer">시이닷 단청 키캡 내돈내산 리뷰 (+나무로 만든 키보드)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223859574189" target="_blank" rel="noopener noreferrer">타오바오 제품 구매하는 법 직구 주문 및 배송 기간 #1</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223861241129" target="_blank" rel="noopener noreferrer">타오바오 제품 구매하는 법 중한e젯 배대지 만들기 #2</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223864764042" target="_blank" rel="noopener noreferrer">타오바오 반품 후기, 중한e젯 배대지 수거 코드 환불까지의 전 과정 #3</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223864679904" target="_blank" rel="noopener noreferrer">Keygeek Ash (R1) 스위치 리뷰 (+타건 영상)</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223875836406" target="_blank" rel="noopener noreferrer">AI 활용 / 요약이 필요할 때 T5(Text-to-Text Transfer Transformer) 기반 모델 탐구</a></small></li>
  <li><small><a href="https://m.blog.naver.com/dongsik_93/223880138391" target="_blank" rel="noopener noreferrer">키코보 피아노 블랙 키캡 (KEYKOBO Piano Black) 내돈내산 후기</a></small></li>
</details>

</ul>